:root {
    --primary-color: #4b74be;
    --color-white: #fff;
    --color-red: #ff0000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header section starts */
header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.head-container {
    margin: 0 auto;
    background-color: var(--primary-color);
    width: 88%;
    border-radius: 15px;

}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0 30px;

}

.head-details {
    color: var(--color-white);
}

.head-details h2 {
    font-size: 60px;
    font-weight: 700;
}

.head-details a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 16px 26px;
    margin-top: 25px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.head-details a:hover {
    background-color: #204dff;
    transition: 1.5s;
}

.head-img img {
    width: 100%;
}

.head-img img:hover {
    transform: scale(1.2);
    transition: transform 2s;
}

/* header section end */

/* main section starts */
.btn-section {
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 312px;
    height: 312px;
}

.btn-section a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-white);
    color: var(--color-red);
    padding: 16px 26px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.btn-section a:hover {
    color: var(--color-white);
    background-color: var(--color-red);
    transition: 2s;
}

/* upcoming match area */
#upcoming-btn {
    background-color: var(--color-red);
    color: var(--color-white);
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.match {
    width: 312px;
    height: 242px;
    border: 1px solid #d4d3d3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-flag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-flag h4 {
    margin: 0 20px;
}

.team-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.view-all-section {
    display: none;
}

.view-all {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.view-all a {
    text-decoration: none;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 16px 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}

/* main section end */
/* footer starts */
.footer-section {
    margin-top: 100px;
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.goal {
    font-size: 40px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 15px;
}

hr {
    width: 90%;
}

.contact-service {
    display: flex;
    gap: 40px;
    color: #717171;
    margin-top: 25px;
    margin-bottom: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #717171;
    font-size: 30px;
    font-weight: 900;
    margin: 20px;
}

/* footer end */
/* responsive */

@media only screen and (max-width: 768px) {
    .head-container {
        width: 90%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .head-details {
        text-align: center;
        padding-top: 20px;
    }

    .head-details h2 {
        font-size: 40px;
    }

    .head-details>p {
        font-size: 14px;
    }

    .head-details a {
        padding: 12px 22px;
        border-radius: 10px;
        font-size: 16px;
    }

    .head-img {
        margin-top: 40px;
    }

    /* header section responsive complete */

    .main-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .btn-section {
        background-color: var(--color-white);
        padding: 0px;
        margin: 0 auto;
        gap: 20px;
        width: 260px;
        margin-bottom: -50px;
    }

    .btn-section a {
        border: 1px solid rgb(80, 80, 80);
        padding: 12px 22px;
        font-size: 18px;
        text-align: center;
    }

    /* button section responsive complete */

    .matches {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    /* main done */
    .contact-service {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }

    .contact-service p {
        text-align: center;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .container {
        padding: 20px 10px 20px 30px;
    }

    .head-details h2 {
        font-size: 50px;
    }

    .head-details>p {
        font-size: 15px;
    }

    .head-details a {
        font-size: 16px;
    }

    /* header done */
    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-section {
        background-color: var(--color-white);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: -50px;

    }

    .btn-section a {
        border: 1px solid #484848;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .view-all-section {
        display: block;
    }

    .contact-service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (min-width:1024px) and (max-width:1312px) {
    .container {
        padding: 20px 10px 20px 30px;
    }

    .head-details h2 {
        font-size: 60px;
    }

    .head-details>p {
        font-size: 15px;
    }

    .head-details a {
        font-size: 16px;
    }

    /* header done */
    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-section {
        background-color: var(--color-white);
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: -50px;

    }

    .btn-section a {
        border: 1px solid #484848;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .view-all-section {
        display: block;
    }

    .contact-service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}